<%= form_for(capsule, url: capsules_path, method: :post) do |f| %>
  <% if capsule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(capsule.errors.count, "error") %> prohibited this capsule from being saved:</h2>

      <ul>
      <% capsule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<<<<<<< HEAD
=======

  <div class="field">
    <%= f.label :message %>
    <%= f.text_area :message %>
  </div>
    
      <div class="field">
        <%= f.label :dig_date %>
        <%= f.datetime_select :dig_date %>
      </div>
    <div class="js-capsule">
      <%= f.fields_for :pictures do |picture| %>
      <%= render 'picture_fields', f: picture %>
      <% end %>
      <div class="field">
        <%= link_to_add_association '画像追加', f, :pictures %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
>>>>>>> origin/master
<% end %>
