<html>
<head>
  <title>Your Website Title</title>
    <!-- You can use open graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
  <meta property="og:url"           content="http://192.168.33.10:3000/capsules">
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Your Website Title" />
  <meta property="og:description"   content="Your description" />
  <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
</head>
<p id="notice"><%= notice %></p>

<h1>Capsules</h1>
<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>Dig date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @capsules.each do |capsule| %>
      <tr>
        <td><%= capsule.message %></td>
        <td><%= capsule.dig_date %></td>
        <td><%= link_to 'Show', capsule %></td>
        <td><%= link_to 'Edit', edit_capsule_path(capsule) %></td>
        <td><%= link_to 'Destroy', capsule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<body>
<div id="fb-root">
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
</div>
<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
</body>
</html>