<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @capsule.message %>
</p>

<p>
  <strong>Dig date:</strong>
  <%= @capsule.dig_date %>
</p>

<% @capsule.pictures.each do |picture| %>
<%= image_tag picture.image.url(:medium) %>
<%= video_tag picture.image.url %>

<% end %>
<%= link_to 'Edit', edit_capsule_path(@capsule) %> |
<%= link_to 'Back', capsules_path %>
