<!DOCTYPE html>
<html>
  <head>
    <title>Timebox</title>
    <!-- You can use open graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
	  <meta property="og:url"           content="http://192.168.33.10:3000/capsules">
	  <meta property="og:type"          content="website" />
	  <meta property="og:title"         content="Your Website Title" />
	  <meta property="og:description"   content="Your description" />
	  <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
    <%= csrf_meta_tag %>  
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/nav' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/facebook' %>
    </div>
<<<<<<< HEAD
		  <header>
		  	<nav>
			  		<% if user_signed_in? %>
			  		<strong><%= link_to current_user.name,pages_show_path %></strong>
			  		<%= link_to 'プロフィール変更', edit_user_registration_path %>
			  		<%= link_to 'ログアウト', destroy_user_session_path,method: :delete %>
		  		<% else %>
			  		<%= link_to 'サインアップ', new_user_registration_path %>
			  		<%= link_to 'ログイン', new_user_session_path %>
            <%= link_to '未来へ送る', send_mail_path %>
		  			<% end %>
		  	</nav>
		  </header>
		  <p class="notice"><%= notice %></p>
		  <p class="alert"><%= alert %></p>
		  <%= yield %>
=======
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
>>>>>>> 613ba3264ef9a43b8491908e5b8db3993c860166
  </body>
</html>
