<!DOCTYPE html>
<html>
  <head>
    <title>Timebox</title>
    <!-- You can use open graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
	  <meta property="og:url"           content="http://192.168.33.10:3000/capsules">
	  <meta property="og:type"          content="website" />
	  <meta property="og:title"         content="Your Website Title" />
	  <meta property="og:description"   content="Your description" />
	  <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
    <%= csrf_meta_tag %>  
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/nav' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/facebook' %>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
